<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Choix questionnaire</title>
</head>
<body>
    <form method="post">
				<button type="submit" formaction="http://localhost:5000/Questionnaire d'estime de soi">Questionnaire d'estime de soi</button>
    		</form>

			<form method="post">
				<button type="submit" formaction="http://localhost:5000/Questionnaire d'affirmation de soi">Questionnaire d'affirmation de soi</button>
			</form>

			<form method="post">
				<button type="submit" formaction="http://localhost:5000/Questionnaire d’anxiété et de la dépression">Questionnaire d’anxiété et de la dépression</button>
			</form>

			<form method="post">
				<button type="submit" formaction="http://localhost:5000/Questionnaire d’anxiété sociale">Questionnaire d’anxiété sociale</button>
			</form>

			<form method="post">
				<button type="submit" formaction="http://localhost:5000/Questionnaire de burn-out professionnel">Questionnaire de burn-out professionnel</button>
			</form>
</body>
</html>